
.navbar-bg-light{
  background-color: rgb(0, 213, 255);
}

:root{
  --hr-color: rgb(0, 213, 255);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-bg-light{
  background-color: rgba(219, 217, 90, 0.726);
}

.body{
  background-color: rgb(241, 238, 183);
}

